.instagram:hover .bxl-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.instagram:hover span {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-clip: text;
    color: transparent;
}

.facebook:hover .bxl-facebook {
    background-color: #3b5998;
}
.facebook:hover .span-facebook {
    color: #3b5998;
}
.github:hover .bxl-github {
    background-color: #24292e;
}
.github:hover .span-github {
    color: #24292e;
}
