@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-main: theme('colors.primary-bg');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    background-color: var(--bg-main);
}
a {
    text-decoration: none;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: theme('colors.secondary-bg'); 
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb {
    background: theme('colors.dark-gray'); 
    border-radius: 10px;
    border: 2px solid transparent; /* Creates space around the thumb */
    background-clip: content-box; /* Clips the thumb background to its content box */
}

/* .dark {
    --bg-main: theme('colors.bg-main-dark');
}

.bg-main {
    background-color: var(--bg-main);
} */