@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-main: theme('colors.primary-bg');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    color: #fff;
    background-color: var(--bg-main);
}
a {
    text-decoration: none;
}

.bg-1 {
    background-color: #6FAEAA;
    box-shadow: 0 50px 300px 50px rgba(111, 174, 165, 0.5); 
}

.bg-2 {
    background-color: #3F7571;
    box-shadow: 0 50px 300px 50px rgba(63, 117, 113, 0.5); 
}

.bg-3 {
    background-color: #6D887A;
    box-shadow: 0 50px 300px 50px rgba(109, 136, 122, 0.5); 
}

.bg-4 {
    background-color: #BA9090;
    box-shadow: 0 50px 300px 50px rgba(186, 144, 144, 0.5); 
}

.bg-5 {
    background-color: #A36A00;
    box-shadow: 0 50px 300px 50px rgba(163, 106, 0, 0.5); 
}


::-webkit-scrollbar {
    width: 6px;
    height: 2px;


}
::-webkit-scrollbar-track {
    border-radius: 4px; 
    

}
::-webkit-scrollbar-thumb {
    background:rgba(255, 255, 255, 0.2); 
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{
    display: none;
}




.mobile{
    display: none;
}

@media screen and (max-width:576px) {
    .mobile{
        display: block;
    }
}
/* .dark {
    --bg-main: theme('colors.bg-main-dark');
}

.bg-main {
    background-color: var(--bg-main);
} */